// Montserrat font
@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-MediumItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-SemiBoldItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Thin.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-ThinItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-ExtraLight.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-ExtraLightItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

// Body
$body-bg: #f8fafc; // Настройка заднего фона страницы

// Typography
$font-family-sans-serif: 'Nunito', sans-serif; // шрифт на странице, менай как указано в дизайне, из гугла ссылками лучше не вытаскивать, лучше скачать и положить в папку public/fonts/{азвание шрифта}
// Подтягивать прифты примерно так
// $font-family-sans-serif: url('public/fonts/.../... .tff'), sans-serif;

// Найди в инете как подключать шрифты для разные браузера, для айфонов один тип шрифтов, и тп. т.е. одни фонт фемили но подключаются множетсво файлов для разных ос
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// TODO: Это scss так что всякие цвета и прочее закидывай в переменные тупо
